section#talks.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading#speaker(style="margin-top:50px") Speakers

    .row
      .col-lg-12.text-center
        +speaker('Livi Erickson', 'Keynote: WebVR', '#webvr', '@misslivirose')
        +speaker('Raquel Vélez', 'Keynote', '#keynote', '@rockbot')
        +speaker('Ola Gasidlo', 'Offline First', '#offline-first', '@misprintedtype')
        +speaker('Charlotte Spencer', 'YourFirstPR', '#your-first-pr', '@charlotteis')
        +speaker('And you?', 'Call for Proposals opens in mid-December.')
